body {
	padding-top: 50px;
	padding-bottom: 40px;
	background: url("../img/concrete_seamless.png") repeat repeat;
}

.container {
	width: 900px;
}

.content {
	background: #fafafa;
	-webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	min-height: 350px;
}


.login {
    margin:50px 200px;
    padding: 20px 40px;
    background: rgba(186, 193, 174, .7);
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.register {
    margin: 60px 30px;
    padding: 20px 40px;
    background: rgba(186, 193, 174, .7);
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.loginInfo {
    margin-top: 8px;
    margin-right: 5px;
}

.loginPicture {
    margin-top: 4px;
}